.breadcrumbs ol {
    margin: 0;
    margin-left: 15px;
}

.breadcrumbs {
    height: 40px;
    border: 2px solid #d2d2d2;
    border-radius: 0.25rem;
    align-items: center;
    display: flex;
    width: 95%;
    margin: 5px auto;
}

.mainContainer {
    border: 2px solid #d2d2d2;
    border-radius: 0.25rem;
    margin-bottom: 20px;
}

.statDiv {
    padding: 20px;
    display: flex;
    justify-content: space-evenly;

}

.statDivItem {
    font-size: .9rem;
}

.statDivItem p {
    margin: 0;
}

.statDivItem span {
    background-color: rgba(0,0,0,0.1);
    padding: 5px;
    border-radius: .25rem;
    -webkit-box-shadow: 0px 0px 16px -1px rgba(34, 60, 80, 0.17) inset;
    -moz-box-shadow: 0px 0px 16px -1px rgba(34, 60, 80, 0.17) inset;
    box-shadow: 0px 0px 16px -1px rgba(34, 60, 80, 0.17) inset;
}